@{
    ViewData["Title"] = "Мой блог";
}

    <div class="container-fluid">
        <div class="text-center">
            <div class="row" style="height: 200px;">
                <div class="col mr-auto">
                    <h1 class="display-4">Приветствую! Это блог посвящен мне - начинающему программисту :D</h1>
                    <p class="lead"> Здесь Вы можете узнать меня с разных сторон. Хотите не только следить за моим блогом?
                        Тогда подписывайтесь на мою страницу <a href="https://vk.com/id219605470" class="text-success font-weight-bold">ВКонтакте</a>.
                    </p>
                </div>
            </div>             
        </div>
    </div>    
